<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.biz.spmemo01.dao.MemoDAO">

	<insert id="insert" parameterType="MemoVO">
		INSERT INTO tbl_memo (memoCat, flag, date, subject, memoText)
		VALUES(#{memoCat}, #{flag}, #{date}, #{subject}, #{memoText})
	</insert>
	
	<select id="selectAll" resultType="MemoVO">
		SELECT * FROM tbl_memo
	</select>
	

	<select id="selectOne" resultType="MemoVO">
		SELECT * FROM tbl_memo WHERE id= #{id}
	</select>
		
	<update id="update" parameterType="MemoVO">
		UPDATE tbl_memo
		SET memoCat = #{memoCat},
			flag = #{flag},
			date = #{date},
			subject = #{subject},
			memoText = #{memoText}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_memo WHERE id=#{id}
	</delete>

</mapper>